.bicicletas-bg {
  background: linear-gradient(to right, var(--cor-0) 25%, var(--cor-11) 0);
}

.bicicletas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: url("../../img/dec/top-right.svg") no-repeat top 40px right 40px;
}

.bicicletas-imagem {
  display: grid;
}

.bicicletas-imagem img {
  grid-area: 1/1;
}

.bicicletas-imagem span {
  grid-area: 1/1;
  place-self: start end;
  margin-top: 20px;
  display: inline-block;
  padding: 8px 16px 8px 8px;
  border-radius: 4px 0 0 4px;
  background-color: var(--cor-12);
}

.bicicletas-conteudo {
  display: grid;
  place-content: start;
  grid-template-columns: 1fr auto;
}

.bicicletas-conteudo h2,
.bicicletas-conteudo p {
  grid-column: 1/-1;
}

.bicicletas-conteudo h2 {
  margin-bottom: 20px;
}

.bicicletas-conteudo h2::before {
  content: '';
  width: 12px;
  height: 8px;
  display: block;
  margin-bottom: 8px;
  background-color: var(--cor-p1);
}

.bicicletas-conteudo p {
  margin-bottom: 32px;
}

.bicicletas-conteudo a {
  place-self: flex-end;
}

.bicicletas li + li {
  margin-top: 1rem;
}

.bicicletas li {
  display: flex;
  gap: 8px;
  align-items: center;
}

.bicicletas-conteudo img {
  width: 24px;
  margin-right: 8px;
}

@media (max-width: 800px) {
  .bicicletas-bg {
    background: var(--color-11);
  }

  .bicicletas {
    gap: 20px;
    grid-template-columns: 1fr;
    padding-top: 40px;
  padding-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .bicicletas-conteudo {
    grid-template-columns: 1fr;
  }

  .bicicletas ul {
    font-size: 1rem;
    margin-bottom: 32px;
    grid-template-columns: 1fr 1fr;
  }

  .bicicletas a {
    place-self: start;
  }
}
